body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: url(img/sell.png), default;
}

.table{
    width: 90%;
    border-bottom: 20px solid brown;
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: flex-end;
    overflow:  hidden;
}

.drink{
    /* border: 1px solid red; */
    width: 75px;
    height: 125px;
    background: url(img/sptite.png) center bottom/100px auto no-repeat;
    transform-origin: 50% bottom;
    transition: 0.5s;
}

.die{
    transform: rotateX(90deg);
}